.updateButton {
    margin-top: 10px;
    width: 120px;
    height: 35px;
    border-radius: 5px;
    background-color: bisque;
}

.inputField {
    border-radius: 5px;
    padding: 5px;
    width: 200px;
}

.pingIcon {
    width: 32px;
    padding: 5px;
}

.map {
    margin-top: 20px;
    height: 300px;
    width: 300px;
    border-radius: 10px;
}

@media all and (max-width: 400px) {
    .map {
        width: 200px;
        height: 400px;
    }
}